.element__description {
  max-width: 282px;
  padding: 23px 20px 27px; /** отступы изменены от макета по PixelPerfect **/
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
}