.element__description {
  max-width: 282px;
  padding: 25px 20px 31px;
  border: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
}