.popup-profile__input-error {
  border-top: 1px #C4C4C4 solid;
  display: block;
  min-height: 14px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
}