.popup-newcard__line {
  width: 358px;
  height: 1px;
  background-color: #000000;
  border: 0;
  opacity: 0.2;
  margin-bottom: 28px;
}

.popup-newcard__line:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 540px) {
  .popup-newcard__line {
    width: 238px;
    margin-bottom: 30px;
  }
}